:root{
  --custom-purple:#805D93;
  --custom-pink:#F49FBC;
  --custom-orange:#FFD3BA;
  --custom-green:#9EBD6E;
  --custom-emerald:#169873;
  --targaryen-red:#961f1f;
  --targaryen-black:#040404;
  --stark-grey:#f6f6f6;
  --stark-dark-grey:#7b7b7b;
}

/*  global styling  */
html, body{
  padding:0;
  margin:0;
}

h3, h4, h5, h6, p, span{
  font-family:'Lato', sans-serif;
}

.targaryen{
  background-color:var(--targaryen-black);
  color:var(--targaryen-red);
}

.targaryen .episode_wrapper{
  border:solid 1px var(--targaryen-red);
}

.targaryen h2, .targaryen h3, .targaryen p{
  color:var(--targaryen-red);
}

.stark{
  background-color:var(--stark-dark-grey);
  color:var(--stark-grey);
}

.stark .episode_wrapper{
  border:solid 1px var(--stark-grey);
}

.stark h2, .stark h3, .stark p{
  color:var(--stark-grey);
}

/* individual styling  */
/* Header */
header{
  text-align:center;
  padding:10px;
}

#header, h2{
  font-family:'Permanent Marker', cursive;
}

#searchBar, #episodeTitles, #colourSchemes{
  width:200px;
  height:30px;
  padding:5px;
  margin:5px;
}

#res_num{
  font-size:1.5rem;
  padding:5px;
}

/*  Main */
.wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  max-width:1200px;
  margin:0 auto;
  padding:10px;
}

.episode_wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  max-width:300px;
  margin:10px 0;
  padding:10px;
}

.title, .season_ep{
  
}

.episode_img{
  padding:5px;
}

.info p{
  text-align:left;
  padding:10px;
}

/* Footer */
footer{
  font-weight:600;
  font-size:1rem;
  padding:5px;
}