:root{
  --custom-purple:#805D93;
  --custom-pink:#F49FBC;
  --custom-orange:#FFD3BA;
  --custom-green:#9EBD6E;
  --custom-emerald:#169873;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');

/*  global styling  */
html, body{
  padding:0;
  margin:0;
  background:var(--custom-emerald);
}

/* individual styling  */
header{
  text-align:center;
  padding:10px;
}

#header{
  font-family:'Pacifico', sans-serif;
}

.wrapper{
  display:flex;
  flex-wrap:wrap;
  align-items:space-between;
  justify-content:center;
  max-width:1200px;
  margin:0 auto;
  padding:10px;
}

.episode_wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  margin:10px;
  max-width:300px;
  color:var(--custom-orange);
  border:var(--custom-green) solid 2px;
  padding:10px;
}

.title, .season_ep{
  font-family:'Pacifico', sans-serif;
  color:var(--custom-orange);
}

.episode_img{
  padding:5px;
  border:var(--custom-green) solid 2px;
}

.info p{
  font-family:'Open Sans', sans-serif;;
  text-align:left;
}
