:root{
  --custom-purple:#805D93;
  --custom-pink:#F49FBC;
  --custom-orange:#FFD3BA;
  --custom-green:#9EBD6E;
  --custom-emerald:#169873;
}

/*  global styling  */
html, body{
  padding:0;
  margin:0;
  background:var(--custom-emerald);
}

h3, h4, h5, h6, p, span{
  font-family:'Lato', sans-serif;
}

/* individual styling  */
/* Header */
header{
  text-align:center;
  padding:10px;
}

#header, h2{
  font-family:'Permanent Marker', cursive;
}

#searchBar, #episodeTitles{
  width:200px;
  height:30px;
  padding:5px;
  margin:5px;
}

#res_num{
  font-size:1.5rem;
  padding:5px;
  color:var(--custom-orange)
}

/*  Main */
.wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  max-width:1200px;
  margin:0 auto;
  padding:10px;
}

.episode_wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  max-width:300px;
  margin:10px 0;
  color:var(--custom-orange);
  border:var(--custom-green) solid 2px;
  padding:10px;
}

.title, .season_ep{
  color:var(--custom-orange);
}

.episode_img{
  padding:5px;
  border:var(--custom-green) solid 2px;
}

.info p{
  text-align:left;
  padding:10px;
}

/* Footer */
footer{
  font-weight:600;
  background:var(--custom-orange);
  color:var(--custom-purple);
  font-size:1rem;
  padding:5px;
}